// COLOR VARIABLES

$color-primary: #08D9D6;
$color-dark: #252A34;
$color-secondary: #FF2E63;
$color-white: #EAEAEA;


// FONT VARIABLES
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Caveat', cursive;