* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: lightgrey;
	color: #222;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 24px;
}

a {
	text-decoration: none;
}

.flex {
	display: flex;
	gap: 20px;
}

#nav {
	position: sticky;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #3B719F;
	padding: 10px;
	margin-bottom: 20px;
}

.nav-container {
	display: flex;
	gap: 10px;
}

.nav-link {
	color: #f1f1f1;
}

.nav-link:hover {
	color: #222;
}

.nav-link-curr {
	font-weight: 700;
	text-decoration: underline;
}

.page-width {
	max-width: 800px;
}

/* Gards */
.projects {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.focusAreas-ul {
	margin-left: 50px;
}

.card {
	border-bottom: 3px solid #222;
	/* border-radius: 10px; */
	padding: 16px;
	margin: 16px 0;
	width: 100%;
	text-align: left;
}

.card>h4 {
	margin-bottom: 5px;
	text-align: center;
}


.bulletList {
	margin: 15px;
	list-style-type: circle;
}

.card-links-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 15px;
	margin: 5px;
	list-style: none;
}

.card-link {
	padding: 5px 10px;
	background-color: #3B719F;
	border-radius: 2px;
	margin-bottom: 5px;
	color: white;
}

/* footer */
footer>ul {
	display: flex;
	list-style: none;
	justify-content: center;
	margin: 10px;
	gap: 10px;
}

.footer-link {
	color: #3B719F;
}

.footer-link:hover {
	color: #222;
	text-decoration: underline;
}

/* Sections */
.card>h3 {
	text-align: center;
}


/* Resume */
iframe {
	margin: 20px;
}

/* tablet */
@media (max-width: 1200px) {
	.page-width {
		width: 95%;
	}

	.projects {
		flex-wrap: nowrap;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	iframe {
		width: 90%;
	}
}

/* mobile */

@media (max-width: 700px) {
	.flex {
		flex-direction: column;
		align-items: center;
		gap: 0;
	}
}

@media (max-width: 600px) {
	iframe {
		width: 100%;
	}
}
