.contact {
  min-height: 100vh;
  text-align: center;

  &__hide {
    @include emptySpace
  }

  &__header {
    margin-top: 15rem;
    font-weight: 300;
    font-size: 5.5rem;
    text-transform: uppercase;
    margin-bottom: 5rem;
  }
}