.portfolio {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &__hide {
    @include emptySpace
  }

  &__header {
    margin-top: 15rem;
    font-size: 5.5rem;
    text-transform: uppercase;
    margin-bottom: 5rem;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include respond(tab-land) {
      flex-direction: row;
    }
  }

  &__button {
    border: none;
    margin: 0;
    text-decoration: none;
    background-color: transparent;
    color: $color-secondary;
    font-size: 2rem;
    cursor: pointer;
    text-align: center;
    border-radius: .3rem;
    margin-right: 3rem;
    transition: all .3s;

    @include respond(tab-land) {
      margin-bottom: 3rem;
    }

    &:not(:last-child) {
      margin-bottom: 3rem;
    }

    &:hover,
    &:focus {
      color: $color-primary;
    }

    &:active {
      transform: scale(0.99);
    }

    button:hover,
    button:focus {
      background: $color-primary;
    }

    button:focus {
      outline: 1px solid #fff;
      outline-offset: -4px;
    }

    &-active {
      color: $color-primary;
    }
  }

  &__projects {
    display: flex;
    justify-content: center;

    @include respond(tab-land) {
      display: block;
      margin: 0 auto;
    }
  }

  &__project {
    padding: 3rem;
    max-width: 75vw;
    box-shadow: 1rem 1rem 2rem .4rem rgba($color-dark, 0.4);
    border-radius: 3px;

    @include respond(tab-land) {
      max-width: 90vw;
    }

    @include respond(phone) {
      max-width: 100vw;
    }

    &-header {
      font-size: 4rem;
      font-weight: 400;

      &:not(:first-child) {
        margin-top: 1rem;
      }
    }

    &-text {
      font-size: 1.5rem;
    }

    &-container {
      display: flex;
      justify-content: space-between;
      margin-top: 5rem;
      align-items: end;

      @include respond(tab-land) {
        display: block;
      }
    }

    &-video {
      min-height: 31.5rem;
      min-width: 56rem;

      @include respond(tab-land) {
        min-width: 42.6rem;
        min-height: 24rem;
      }
    }

    &-btn {
      @include respond(tab-land) {
        display: inline-block;
      }

      &:visited,
      &:link {
        text-decoration: none;
        color: $color-white;
        background-color: $color-secondary;
        font-size: 2rem;
        transition: all .2s;
        padding: 1rem 2rem;
        border-radius: .3rem;
      }

      &:hover {
        color: $color-primary;
        text-shadow: 0 .5rem 1rem rgba($color-dark, .2);
        transform: translateY(-3px);
      }

      &:active,
      &:focus {
        outline: none;
        transform: translateY(-1px);
        text-shadow: 0 .5rem 1rem rgba($color-dark, .2);
      }
    }
  }
}