.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  color: $color-white;
  position: sticky;
  background: rgba($color-primary, .8);
  top: 0;
  z-index: 100;

  &__name {

    &:link,
    &:visited {
      font-family: $font-secondary;
      color: $color-dark;
      font-size: 5.5rem;
      transition: all .7s;
      text-decoration: none;
      -webkit-user-select: none;
      /* Safari */
      -ms-user-select: none;
      /* IE 10 and IE 11 */
      user-select: none;
      /* Standard syntax */
    }

    &:hover {
      color: $color-secondary;
      text-shadow: 0 1rem 2rem rgba($color-dark, .50);
    }
  }

  &__list {
    display: flex;
    list-style: none;
    gap: 1rem;
    margin-top: 10px;
  }

  &__link {

    &:link,
    &:visited {
      font-size: 2rem;
      font-weight: 400;
      padding: 1rem 2rem;
      text-decoration: none;
      text-transform: uppercase;
      color: $color-white;
      transition: all .7s;
      -webkit-user-select: none;
      /* Safari */
      -ms-user-select: none;
      /* IE 10 and IE 11 */
      user-select: none;
      /* Standard syntax */
    }

    &:hover {
      background-color: $color-white;
      color: $color-secondary;
      border-radius: 100px;
      transform: translateY(-5px);
      box-shadow: 0 1rem 2rem rgba($color-dark, .15);
    }
  }
}